/* Definições para toda a página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Cor de fundo da página escuro, letras em branco e fonte simples */
body {
    background-color: #151a1d;
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-bottom: 0;
}

/* Estilo padrão para seções com margem e borda */
section {
    min-height: 20rem;
    margin: 3rem 15rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.45rem #333;
}
section:hover {
    border-color: #00eeff; /* Muda a cor da borda ao passar o mouse */
    transform: scale(1.01); /* Aumenta o tamanho da seção */
}

/* Adiciona um espaçamento interno na seção "sobre" */
#sobre {
    padding: 0 3rem;
}

/* Estilo para a barra de navegação fixa no topo da página */
.nav {
    width: 100%;
    background-color: #333;
    padding: 14px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Alinha e estiliza os itens de navegação */
.topnav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.topnav li {
    margin: 0 15px;
}

/* Estilo dos links de navegação */
.topnav li a {
    color: white;
    background-color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.topnav li a:hover {
    background-color: #00eeff; /* Muda a cor de fundo ao passar o mouse */
    color: #333; /* Muda a cor do texto ao passar o mouse */
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o link */
}

/* Estilo do cabeçalho */
header {
    text-align: center;
    margin-top: 60px;
}

/* Adiciona um espaçamento interno na seção "formacao" */
#formacao {
    padding: 0 5rem;
}

/* Adiciona margem nos itens da lista na seção "formacao" */
#formacao li {
    margin-top: 1rem;
}

/* Estilizando a imagem do GitHub */
#img-git {
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Centraliza o texto e ajusta as margens para títulos e parágrafos */
h1, h2, h3, p {
    text-align: center;
    margin: 20px 0;
}

/* Estilo dos campos de formulário */
fieldset {
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #555; /* Muda a cor de fundo ao passar o mouse */
}

/* Adiciona um espaçamento interno nas informações de contato */
.contato-info {
    padding: 0 12rem;
}

/* Estilo do botão */
.botao-form {
    margin-bottom: 3rem;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.botao-form:hover {
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 0.3rem #00eeff; /* Adiciona sombra ao passar o mouse */
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra para profundidade */
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

footer img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    transition: transform 0.3s, opacity 0.3s;
}

footer img:hover {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
    opacity: 0.8; /* Torna a imagem um pouco transparente ao passar o mouse */
}

/* Ajustes para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        margin: 10px 0;
    }

}

/* Ajustes para dispositivos com largura máxima de 480px */
@media (max-width: 480px) {
    .nav {
        padding: 10px;
    }

    li a {
        padding: 10px;
        font-size: 14px;
    }

}
